<div class="wrapper wrapper-content row animated fadeInRight" data-ng-init="init()">
    <div class="ibox float-e-margins">
        <div class="ibox-content inspinia-timeline">
            <div class="row">
                <button class="btn btn-default pull-right"
                        style="margin-right: 5px;" data-ng-click="create()">Create New Token</button>
            </div>

            <div class="row" style="margin-top: 10px;">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <td>
                            <strong>Name</strong>
                        </td>

                        <td>
                            <strong>Description</strong>
                        </td>

                        <td>
                            <strong>Token</strong>
                        </td>

                        <td>
                            <strong>Status</strong>
                        </td>

                        <td class="text-center"></td>
                    </tr>

                    <tr data-ng-repeat="token in tokens" data-ng-class="{ 'bg-warning': !token.enabled }">
                        <td>{{token.name}}</td>
                        <td>{{token.description}}</td>
                        <td>{{token.token}}</td>
                        <td>
                            <input data-ng-model="token.enabled" type="checkbox" class="form-control" data-ng-click="enableDisable(token)"/>
                        </td>

                        <td class="text-center">
                            <div class="btn-group" data-ng-class='{open: openConfig}'>
                                <a class="dropdown-toggle" data-toggle="dropdown" data-ng-click='openConfig =! openConfig'><i class="fa fa-sliders fa-2x"></i></a>

                                <ul class="dropdown-menu left">
                                    <li data-ng-click="remove(token);" class="text-center text-danger p-xxs hover">
                                        <i class="fa fa-arrow-circle-o-right"></i> Remove
                                    </li>

                                    <li role="separator" class="divider"></li>

                                    <li data-ng-click="edit(token);" class="text-center text-info p-xxs hover">
                                        <i class="fa fa-cog"></i> Configure
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
